In [20]:
import pandas as pd
import os

In [21]:
AMZN_folder = '../data/timeseries/AMZN'

In [22]:
file_list = []
for dirname, _, filenames in os.walk(f"{AMZN_folder}"):
    for filename in filenames:
        file_list.append(os.path.join(dirname,filename))

In [24]:
pd.read_csv(file_list[0])

,Unnamed: 0,2020-03-31,2019-09-30,2019-06-30,2019-03-31,2018-09-30,2018-06-30,2018-03-31,2017-09-30,2017-06-30,...,2013-03-31,2012-09-30,2012-06-30,2012-03-31,2011-09-30,2011-06-30,2011-03-31,2010-09-30,2010-06-30,2010-03-31
0,us-gaap_revenuefromcontractwithcustomerexcludi...,7.545200e+10,6.998100e+10,6.340400e+10,5.970000e+10,5.657600e+10,5.288600e+10,5.104200e+10,4.374400e+10,3.795500e+10,...,1.607000e+10,1.380600e+10,1.283400e+10,1.318500e+10,1.087600e+10,9.913000e+09,9.857000e+09,7.560000e+09,6.566000e+09,7.131000e+09
1,us-gaap_revenuefromcontractwithcustomerexcludi...,4.184100e+10,3.972600e+10,3.585600e+10,3.428300e+10,3.374600e+10,3.186400e+10,3.160500e+10,2.876800e+10,2.474500e+10,...,1.327100e+10,1.154600e+10,1.079100e+10,1.124900e+10,9.382000e+09,8.611000e+09,8.698000e+09,NaN,NaN,NaN
2,us-gaap_revenuefromcontractwithcustomerexcludi...,3.361100e+10,3.025500e+10,2.754800e+10,2.541700e+10,2.283000e+10,2.102200e+10,1.943700e+10,1.497600e+10,1.321000e+10,...,2.799000e+09,2.260000e+09,2.043000e+09,1.936000e+09,1.494000e+09,1.302000e+09,1.159000e+09,NaN,NaN,NaN
3,us-gaap_costofgoodsandservicessold,4.425700e+10,4.130200e+10,3.633700e+10,3.392000e+10,3.300300e+10,3.063200e+10,3.073500e+10,2.754900e+10,2.345100e+10,...,1.180100e+10,1.031900e+10,9.488000e+09,1.002700e+10,8.325000e+09,7.525000e+09,7.608000e+09,5.786000e+09,4.957000e+09,5.501000e+09
4,amzn_fulfillmentexpense,1.153100e+10,1.016700e+10,9.271000e+09,8.601000e+09,8.275000e+09,7.932000e+09,7.792000e+09,6.420000e+09,5.158000e+09,...,1.796000e+09,1.510000e+09,1.356000e+09,1.295000e+09,1.121000e+09,9.410000e+08,8.550000e+08,6.800000e+08,5.820000e+08,5.460000e+08
5,us-gaap_marketingexpense,4.828000e+09,4.752000e+09,4.291000e+09,3.664000e+09,3.303000e+09,2.901000e+09,2.699000e+09,2.479000e+09,2.229000e+09,...,6.320000e+08,5.400000e+08,5.370000e+08,4.800000e+08,3.700000e+08,3.410000e+08,3.270000e+08,2.410000e+08,2.110000e+08,2.010000e+08
6,amzn_technologyandcontentexpense,9.325000e+09,9.200000e+09,9.065000e+09,7.927000e+09,7.162000e+09,7.247000e+09,6.759000e+09,5.944000e+09,5.549000e+09,...,1.383000e+09,1.192000e+09,1.082000e+09,9.450000e+08,7.690000e+08,6.980000e+08,5.790000e+08,4.420000e+08,4.080000e+08,3.660000e+08
7,us-gaap_generalandadministrativeexpense,1.452000e+09,1.348000e+09,1.270000e+09,1.173000e+09,1.041000e+09,1.111000e+09,1.067000e+09,9.600000e+08,8.740000e+08,...,2.460000e+08,2.300000e+08,2.320000e+08,2.000000e+08,1.750000e+08,1.660000e+08,1.330000e+08,1.170000e+08,1.130000e+08,9.700000e+07
8,us-gaap_otheroperatingincomeexpensenet,-7.000000e+07,NaN,NaN,5.000000e+06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,us-gaap_costsandexpenses,7.146300e+10,6.682400e+10,6.032000e+10,5.528000e+10,5.285200e+10,4.990300e+10,4.911500e+10,4.339700e+10,3.732700e+10,...,1.588900e+10,1.383400e+10,1.272700e+10,1.299300e+10,1.079700e+10,9.712000e+09,9.535000e+09,7.292000e+09,6.296000e+09,6.737000e+09
10,us-gaap_operatingincomeloss,3.989000e+09,3.157000e+09,3.084000e+09,4.420000e+09,3.724000e+09,2.983000e+09,1.927000e+09,3.470000e+08,6.280000e+08,...,1.810000e+08,-2.800000e+07,1.070000e+08,1.920000e+08,7.900000e+07,2.010000e+08,3.220000e+08,2.680000e+08,2.700000e+08,3.940000e+08
11,us-gaap_investmentincomeinterest,2.020000e+08,2.240000e+08,2.150000e+08,1.830000e+08,1.170000e+08,9.400000e+07,8.000000e+07,5.400000e+07,4.400000e+07,...,1.000000e+07,1.000000e+07,1.000000e+07,1.200000e+07,1.600000e+07,1.600000e+07,1.500000e+07,1.300000e+07,1.200000e+07,1.100000e+07
12,us-gaap_interestexpense,4.020000e+08,3.960000e+08,3.830000e+08,3.660000e+08,3.580000e+08,3.430000e+08,3.300000e+08,2.280000e+08,1.430000e+08,...,3.300000e+07,2.200000e+07,2.100000e+07,2.100000e+07,1.700000e+07,1.500000e+07,1.200000e+07,1.100000e+07,9.000000e+06,7.000000e+06
13,us-gaap_othernonoperatingincomeexpense,-4.060000e+08,-3.530000e+08,-2.700000e+07,1.640000e+08,-9.300000e+07,-1.290000e+08,2.390000e+08,1.430000e+08,1.370000e+08,...,-7.700000e+07,1.800000e+07,5.000000e+07,-9.900000e+07,5.200000e+07,2.300000e+07,-1.800000e+07,2.200000e+07,2.400000e+07,3.000000e+06
14,us-gaap_nonoperatingincomeexpense,-6.060000e+08,-5.250000e+08,-1.950000e+08,-1.900000e+07,-3.340000e+08,-3.780000e+08,-1.100000e+07,-3.100000e+07,3.800000e+07,...,-1.000000e+08,6.000000e+06,3.900000e+07,-1.080000e+08,5.100000e+07,2.400000e+07,-1.500000e+07,2.400000e+07,2.700000e+07,7.000000e+06
15,us-gaap_incomelossfromcontinuingoperationsbefo...,3.383000e+09,2.632000e+09,2.889000e+09,4.401000e+09,3.390000e+09,2.605000e+09,1.916000e+09,3.160000e+08,6.660000e+08,...,8.100000e+07,-2.200000e+07,1.460000e+08,8.400000e+07,1.300000e+08,2.250000e+08,3.070000e+08,2.920000e+08,2.970000e+08,4.010000e+08
16,us-gaap_incometaxexpensebenefit,7.440000e+08,4.940000e+08,2.570000e+08,8.360000e+08,5.080000e+08,7.400000e+07,2.870000e+08,5.800000e+07,4.670000e+08,...,-1.800000e+07,8.300000e+07,1.090000e+08,4.300000e+07,6.700000e+07,4.900000e+07,8.900000e+07,7.900000e+07,8.800000e+07,1.000000e+08
17,us-gaap_incomelossfromequitymethodinvestments,-1.040000e+08,-4.000000e+06,-7.000000e+06,-4.000000e+06,1.000000e+06,3.000000e+06,0.000000e+00,-2.000000e+06,-2.000000e+06,...,-1.700000e+07,-1.690000e+08,-3.000000e+07,8.900000e+07,NaN,1.500000e+07,-1.700000e+07,1.800000e+07,-2.000000e+06,-2.000000e+06
18,us-gaap_netincomeloss,2.535000e+09,2.134000e+09,2.625000e+09,3.561000e+09,2.883000e+09,2.534000e+09,1.629000e+09,2.560000e+08,1.970000e+08,...,8.200000e+07,-2.740000e+08,7.000000e+06,1.300000e+08,6.300000e+07,1.910000e+08,2.010000e+08,2.310000e+08,2.070000e+08,2.990000e+08
19,us-gaap_earningspersharebasic,5.090000e+00,4.310000e+00,5.320000e+00,7.240000e+00,5.910000e+00,5.210000e+00,3.360000e+00,5.300000e-01,4.100000e-01,...,1.800000e-01,-6.000000e-01,2.000000e-02,2.900000e-01,1.400000e-01,4.200000e-01,4.400000e-01,5.100000e-01,4.600000e-01,6.700000e-01
20,us-gaap_earningspersharediluted,5.010000e+00,4.230000e+00,5.220000e+00,7.090000e+00,5.750000e+00,5.070000e+00,3.270000e+00,5.200000e-01,4.000000e-01,...,1.800000e-01,-6.000000e-01,1.000000e-02,2.800000e-01,1.400000e-01,4.100000e-01,4.400000e-01,5.100000e-01,4.500000e-01,6.600000e-01
21,us-gaap_weightedaveragenumberofsharesoutstandi...,4.980000e+08,4.950000e+08,4.930000e+08,4.910000e+08,4.880000e+08,4.860000e+08,4.840000e+08,4.810000e+08,4.790000e+08,...,4.550000e+08,4.520000e+08,4.510000e+08,4.530000e+08,4.540000e+08,4.530000e+08,4.510000e+08,4.480000e+08,4.470000e+08,4.450000e+08
22,us-gaap_weightedaveragenumberofdilutedsharesou...,5.060000e+08,5.040000e+08,5.030000e+08,5.020000e+08,5.010000e+08,5.000000e+08,4.980000e+08,4.940000e+08,4.920000e+08,...,4.630000e+08,4.600000e+08,4.580000e+08,4.600000e+08,4.610000e+08,4.600000e+08,4.590000e+08,4.560000e+08,4.550000e+08,4.540000e+08
23,us-gaap_othercostandexpenseoperating,NaN,5.500000e+07,8.600000e+07,NaN,6.800000e+07,8.000000e+07,6.300000e+07,4.500000e+07,6.600000e+07,...,3.100000e+07,4.300000e+07,3.200000e+07,4.600000e+07,3.700000e+07,4.100000e+07,3.300000e+07,2.600000e+07,2.500000e+07,2.600000e+07